@import url('./main.css');

.saved-header {
    display: flex;
    justify-content: space-between;
    color: black;
    font-size: 2.65rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.75rem;
    align-items: center;
    width: 85%;
}

.saved-search-btn {
    font-size: 3rem;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.saved-main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 4rem;
    margin-left: auto;
    margin-right: auto;
    width: 85%;
}

.saved-book {
    margin: 1.5rem;
}

